:root {
  --main-navy-blue: rgb(19, 21, 32);
  --white: rgb(220, 220, 220);
  --gray: rgb(110, 110, 110);
  --light-gray: rgb(140, 140, 140);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-navy-blue);
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

.App {
  justify-content: center;
}

.site-container {
  display: flex;
  flex-direction: row;
}