:root {
  --main-navy-blue: rgb(20, 23, 35);
  --white: rgba(220, 220, 220)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-navy-blue);
  font-family: 'Nunito', sans-serif;
  color: var(--white);
}

.App {
  justify-content: center;
}